<footer class="site-footer">
	<div class="wrapper">
		<div class="footer-col-wrapper">
			<div class="footer-col">
				<p><a class="page-link rss-link" href="{{ site.feed_path | default: 'feed.xml' | relative_url }}">
					<svg class="svg-icon rss-icon" viewBox="0 0 16 16"><use href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg>
				Subscribe</a></p>
				<ul class="contact-list">
					<li>Website by <a href="{{ site.author.url }}">{{ site.author.name }}</a></li>
					<li>Commit {{ "%%%SHA" | truncate: 7, "" }} built {{ site.time | date: "%F %R" }}</li>
					{% if site.tagline -%}
					<li class="cl-description">{{ site.tagline }}</li>
					{% endif -%}
				</ul>
			</div>
			<div class="footer-col fc-counter">
				<p>Website pages served by cute anime catgirls:</p>
				<img src="https://count.getloli.com/get/@fp555?theme=rule34" alt="A cute and funny visitors counter" referrerpolicy="no-referrer" loading="lazy">
			</div>
		</div>
	</div>
</footer>
