<footer class="site-footer h-card">
	<div class="wrapper">
		<div class="footer-col-wrapper">
			<div class="footer-col">
				{%- if site.author %}
				<ul class="contact-list">
					{% if site.author.name -%}
					<li class="p-name">{{ site.author.name | escape }}</li>
					{% endif -%}
					{% if site.author.email -%}
					<li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
					{%- endif %}
					{% if site.description -%}
					<li class="p-name">{{ site.description | escape }}</li>
					{%- endif %}
				</ul>
				{%- endif %}
			</div>
			<img class="footer-col" src="https://count.getloli.com/get/@fp555?theme=rule34" alt="A cute and funny visitors counter">
		</div>
	</div>
</footer>
