// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/custom-variables.scss` to override variable defaults)

#rss-link {
	text-decoration: none;
	
	> .rss-icon {
		color: $rss-color;
		width: auto;
		height: 1em;
	}
}

.post-license {
	padding: 0 5%;
	text-align: center;

	> .cc-icons {
		border-top: 1px solid $cc-color;
		padding-top: 8px;
		margin-bottom: 8px;

		> .svg-icon {
			height: 32px;
			width: auto;
			fill: $background-color;
		}
	}
	
	> span {
		font-size: $small-font-size;
		font-style: italic;
	}
}

li[itemprop="blogPost"] > img {
	align-self: center;
}

.footer-col:last-child > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}
