// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/custom-variables.scss` to override variable defaults)

.rss-link {
	text-decoration: none;
	
	> .rss-icon {
		color: $rss-color;
		padding-right: 7px;
	}
}

.post-license {
	padding: 0 5%;
	text-align: center;

	> .cc-icons {
		border-top: 1px solid $cc-color;
		padding-top: 8px;
		margin-bottom: 8px;

		> svg {
			height: 32px;
			width: auto;
			fill: $background-color;
			padding: 0 5px;
		}
	}
	
	> span {
		font-size: $small-font-size;
		font-style: italic;
	}
}

li[itemprop="blogPost"] > img {
	align-self: center;
}

.footer-col:last-child > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}
