// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/custom-variables.scss` to override variable defaults)

.rss-link {
	text-decoration: none;
	
	> .rss-icon {
		color: $rss-color;
		padding-right: calc($spacing-unit / 2);
	}
}

.post-license {
	padding: 0 5%;
	text-align: center;

	> .cc-icons {
		border-top: 1px solid $cc-color;
		padding-top: calc($spacing-unit / 2);
		margin-bottom: calc($spacing-unit / 2);

		> svg {
			height: 32px;
			width: auto;
			fill: $background-color;
			padding: 0 5px;
		}
	}
	
	> span {
		font-size: $small-font-size;
		font-style: italic;
	}
}

li[itemprop="blogPost"] > .emoji {
	align-self: center;
}

.contact-list > .cl-description {
	margin-top: calc($spacing-unit / 2);
	font-style: italic;
	quotes: '«' '»' '"' '"';
	
	&::before {
		content: open-quote;
	}
	&::after {
		content: close-quote;
	}
}

.footer-col.fc-counter {
    display: flex;
    flex-direction: column;
	align-items: center;
	
	> img {
		max-height: fit-content;
	}
}
